# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python pytest

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.7", "3.8"] # feature-tools only update to 0.23.3 on python3.6 and the latest is 1.2.0(2021/11)
        tf-version: ["==2.10", '', "disable"]  # empty string indicates the latest version

#        exclude:
#          - os: windows-latest
#            python-version: "==2.10"
#          - os: windows-latest
#            tf-version: ""

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install git+https://github.com/DataCanvasIO/Hypernets
        pip install -r requirements.txt
        pip install pytest-cov  python-coveralls  codacy-coverage

    - name: Install tensorflow dependencies
      if:  ${{ matrix.tf-version != 'disable' }}
      run: |
        pip install tensorflow${{ matrix.tf-version }}

    - name: pip list
      run: |
        pip list
        pip check

    - name: Test with pytest
      run: |
        pytest --cov=hyperts --durations=30
